{{ define "title" }}Gold - {{ .Name }}{{ end }}
{{ define "content" }}

<h1>{{ .Name }}</h1>
<p>Defined at <code>{{.Path}}</code></p>
{{ if .PortainerId }}
<p>Portainer stack ID: {{ .PortainerId }}</p>
{{ else }}
<p>Not managed by portainer</p>
{{ end }}

<section class="tool-bar">
	<button hx-post="/server/nginx/reload" type="button">Restart nginx</button>
	<button hx-post="/app/{{.Name}}/portainer" type="button">Publish to portainer</button>
	<button hx-post="/app/{{.Name}}/compose/reload" type="button">Restart container stack</button>
</section>

<details open>
	<summary>App YAML</summary>
	{{ template "configForm.html" . }}
</details>

<details open>
	<summary>Compose YAML</summary>
	{{ template "composeForm.html" . }}
</details>

<details open>
	<summary>Virtual hosts</summary>
	<p>Nginx Status: {{ .NginxStatus }}</p>
	{{ if eq .NginxStatus "Disabled" }}
	<button hx-post="/app/{{.Name}}/nginx/enable">Install nginx unit</button>
	{{ else }}
	<button hx-post="/app/{{.Name}}/nginx/disable">Uninstall nginx unit</button>
	{{ end }}
	<br />
	<table>
		<caption>Nginx vhosts</caption>
		<thead>
			<tr>
				<th>VHOST</th>
				<th>HOST</th>
				<th>Protected</th>
			</tr>
		</thead>
		<tbody>
			{{ range .AppYaml.Nginx }}
			<tr>
				<td>
					<a target="_blank" href="https://{{ .ExternalHost }}.home.pagemail.io">
						{{ .ExternalHost }}
					</a>

				</td>
				<td>{{ .Protocol }}://{{ .IPv4 }}:{{ .Port }}</td>
				<td>{{ if .Protected }}Yes{{ else }}No{{ end }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</details>

{{ end }}
