{{ define "title" }}Gold - {{ .Name }}{{ end }}
{{ define "content" }}

<h1>{{ .Name }}</h1>
<p>Defined at <code>{{.Path}}</code></p>
{{ if .PortainerId }}
<p>Portainer stack ID: {{ .PortainerId }}</p>
{{ else }}
<p>Not managed by portainer</p>
{{ end }}

<details open>
	<summary>App YAML</summary>
	{{ template "configForm.html" . }}
</details>

<details open>
	<summary>Virtual hosts</summary>
	<p>Nginx Status: {{ .NginxStatus }}</p>
	{{ if eq .NginxStatus "Disabled" }}
	<button hx-post="/app/{{.Name}}/nginx/enable">Enable Nginx</button>
	{{ else }}
	<button hx-post="/app/{{.Name}}/nginx/disable">Disable Nginx</button>
	{{ end }}
	<br />
	<table>
		<caption>Nginx vhosts</caption>
		<thead>
			<tr>
				<th>VHOST</th>
				<th>HOST</th>
				<th>Protected</th>
			</tr>
		</thead>
		<tbody>
			{{ range .AppYaml.Nginx }}
			<tr>
				<td>
					<a target="_blank" href="https://{{ .ExternalHost }}.home.pagemail.io">
						{{ .ExternalHost }}
					</a>

				</td>
				<td>{{ .Protocol }}://{{ .IPv4 }}:{{ .Port }}</td>
				<td>{{ if .Protected }}Yes{{ else }}No{{ end }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</details>

<details open>
	<summary>Containers</summary>
	{{ if .Containers }}
	<table>
		<caption>Containers</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Controls</th>
			</tr>
		</thead>
		<tbody>
			{{ range .Containers }}
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ if .Status }}{{ .Status }}{{ else }}Unknown{{ end }}</td>
				<td>
					<button hx-put="/api/v1/{{ .Name }}/docker/start">Start</button>
					<button hx-put="/api/v1/{{ .Name }}/docker/restart">Restart</button>
					<button hx-put="/api/v1/{{ .Name }}/docker/stop">Stop</button>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ end }}
</details>

{{ end }}
